@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Lucida+Sans");
@import url("https://fonts.googleapis.com/css?family=Frankline+Gothic+Medium");

.mainContainer {
  background-image: linear-gradient(to right, #35185a, #bb84e8);
  
}
.banner {
  height: 80vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}
h1 {
  margin: 5vmax;
  font: 600 2.5vmax "Roboto";
}
.banner p {
  font: 300 1.4vmax "Lucida Sans";
}
.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0%;
  clip-path: polygon(100% 77%, 0 100%, 100% 100%);
  max-width: 100%;
}
.homeHeading {
  text-align: center;
  font: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
}
.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
}
.productCard {
  width: 15vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5vmax;
  padding-bottom: 0.5vmax;
}
.productCard > img {
  width: 12vmax;
  height: auto;
}
.productCard > div {
  margin: 0.5vmax;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.productCard > div > span {
  font: 300 1vmax "Roboto";
}
.productCard > p {
  font-family: "Roboto";
  font-size: 1.5vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}
.productCard > span {
  margin: 0.5vmax;
  color: "tomato";
  font-family: "Frankline Gothic Medium";
  font-size: 1.2vmax;
}
.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.2);

  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .productCard > img {
    width: 10vmax;
  }
  .productCard > p {
    font-size: 1.9vmax;
  }
  .productCard > span {
    font-size: 1.6vmax;
  }
  .productCard > div > span {
    margin: 0 0 0.5vmax;
    font: 300 1.2vmax "Roboto";
  }
}
